<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cus360.inapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Required for applications which use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="cus360.inapp.app.ticket.createticket.ActivityCreateTicket"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cus360.inapp.app.chat.ActivityChat"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="cus360.inapp.app.ticket.createticket.ActivityPreview"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cus360.inapp.app.ticket.ticketlisting.ActivityTicketListing"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cus360.inapp.app.ticket.ticketlisting.ActivityTicketDetailsConversation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cus360.inapp.app.thankyou.ActivityThankYou"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name="cus360.inapp.base.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="@string/cus_host_packagename" />
            </intent-filter>
        </receiver>

        <service android:name="cus360.inapp.base.gcm.GcmIntentService" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

</manifest>